canvas {
  display: block;
  margin: 0 auto;
}

body {
  background-color: black;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  display: block;
  margin: 0 auto;
  background-color: black; /* Color de fondo */
}

@media (max-width: 576px) {
  canvas {
    width: 100%;
    height: auto;
  }

  body {
    background-color: black; /* Cambiar color de fondo del body */
    font-size: 14px; /* Ajustar tamaño de fuente */
  }

  #mensaje {
    display: none; /* Ocultar el canvas con el mensaje */
  }
}
